@font-face {
	font-family: 'Arian-Regular';
	src:url('../fonts/Arian/ArianAMURegular/ArianAMURegular.eot?') format('eot'),
        url('../fonts/Arian/ArianAMURegular/ArianAMURegular.woff') format('woff'),
        url('../fonts/Arian/ArianAMURegular/ArianAMURegular.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Arian-Bold';
	src:url('../fonts/Arian/ArianAMUBold/ArianAMUBold.eot?') format('eot'),
        url('../fonts/Arian/ArianAMUBold/ArianAMUBold.woff') format('woff'),
        url('../fonts/Arian/ArianAMUBold/ArianAMUBold.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'PTSerif-Italic';
	src:url('../fonts/PTSerif-Italic/PTSerif-Italic.eot?') format('eot'),
        url('../fonts/PTSerif-Italic/PTSerif-Italic.woff') format('woff'),
        url('../fonts/PTSerif-Italic/PTSerif-Italic.ttf')  format('truetype'),
        url('../fonts/PTSerif-Italic/PTSerif-Italic.svg')  format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'PTSerif-Bold';
	src:url('../fonts/PTSerif-Bold/PTSerif-Bold.eot?') format('eot'),
        url('../fonts/PTSerif-Bold/PTSerif-Bold.woff') format('woff'),
        url('../fonts/PTSerif-Bold/PTSerif-Bold.ttf')  format('truetype'),
        url('../fonts/PTSerif-Bold/PTSerif-Bold.svg')  format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'Comfortaa-Light';
	src:url('../fonts/Comfortaa/Comfortaa-Light.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src:url('../fonts/Comfortaa/Comfortaa-Regular.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Comfortaa-Bold';
	src:url('../fonts/Comfortaa/Comfortaa-Bold.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}


/*---------------------------------
Table of content
1 - CSS Reset
2 - Global Styles
3 - Header Styles
4 - Sidebar Filter Styles
5 - Section offers Styles
6 - Popular produtcs Styles
7 - Our Advantages Styles
8 - Main footer Styles
9 - Catalog Styles




/********************************************************

    1 - CSS RESET (Eric Meyer's)

**********************************************************/
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}

ol, ul{
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

/*********************************************************\

    2 - GLOBAL STYLES

\*********************************************************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after,
.row:after {
    clear: both;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.image-cover {
    display: block;
    width: 100%;
    height: auto;
}

html{
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
	display: block;
}

html,
body{
	width: 100%;
	height: 100%;
}

body {
    font-family: 'Arian-Regular', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #3a3a3a;
    background: #fff;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
a:hover,
a:active,
a:visited,
a:focus {
    outline: none;
}

a, img, input, textarea, select, button {
    border: none;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    margin-bottom: 5px;
}
p:last-child {
    margin-bottom: 0;
}



::-webkit-input-placeholder {font-family: inherit; color: #a8a8a8; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}
::-moz-placeholder          {font-family: inherit; color: #a8a8a8; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}/* Firefox 19+ */
:-moz-placeholder           {font-family: inherit; color: #a8a8a8; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}/* Firefox 18- */
:-ms-input-placeholder      {font-family: inherit; color: #a8a8a8; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}

:focus::-webkit-input-placeholder {opacity: 0; color: transparent}
:focus::-moz-placeholder          {opacity: 0; color: transparent}
:focus:-moz-placeholder           {opacity: 0; color: transparent}
:focus:-ms-input-placeholder      {opacity: 0; color: transparent}


.va-container {
    display: table;
    position: relative;
}
.va-top,
.va-middle,
.va-bottom {
    display: table-cell;
}
.va-top {
    vertical-align: top;
}
.va-middle {
    vertical-align: middle;
}
.va-bottom {
    vertical-align: bottom;
}



.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    
    min-width: 1280px;
}

.center-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}


.main-content {
    position: relative;
    min-height: 450px;
    padding-top: 15px;
}


/*********************************************************\

    3 - Header Styles

\*********************************************************/
.wrapper {
    background: #fff;
    background-image: url(../images/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    min-height: 150vh; /* 100% viewport height */
}

.main-header {
    
}

.top-panel {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.second-nav {
    float: left;
    padding-top: 5px;
    line-height: 1em;
}
.second-nav ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-size: 14px;
}
.second-nav a {
    display: block;
}
.second-nav li:hover a {
    border-bottom: 1px solid #333;
}

.views-param {
    float: right;
}
.views-param__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.views-param__item select {
    height: 20px;
    padding-left: 3px;
    font-size: 11px;
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    outline: none;
}

.header-content {
    padding: 20px 0 30px;
    padding-right: 15px;
}

.logo-and-location {
    float: left;
    margin-right: 20px;
}

.logo {
    display: block;
    width: 316px;
    margin-bottom: 15px;
}
.logo a {
    display: block;
}
.logo img {
    display: block;
    width: 100%;
}

.location {
    text-align: center;
}
.location__icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 24px;
    margin-right: 7px;
    background-image: url(../images/icon-location.png);
}
.location__choice {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.contacts-and-search {
    float: left;
    padding-top: 15px;
}
.contacts {
    position: relative;
    margin-bottom: 15px;
}
.contacts__phone-inline {
    font-size: 30px;
    font-family: 'Comfortaa-Bold';
    color: #309080;
}
.contacts__phone-inline span {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -1.9px
}

.contacts__more {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-family: 'Arian-Regular';
    font-size: 24px;
    padding: 8px 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}
.contacts__more .fa {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 28px;
}

.full-contacts {
    opacity: 0;
    position: absolute;
    top: -10px;
    right: 0;
    width: 620px;
    height: 135px;
    width: 0;
    height: 0;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    z-index: 20;
}
.full-contacts__inner {
    display: none;
    padding: 10px 15px;
}
.full-contacts__phones {
    float: left;
    width: 45%;
    border-right: 1px solid #c2c2c2;
}
.full-contacts__phones li {
    font-size: 30px;
    font-family: 'Comfortaa-Bold';
    color: #309080;
    letter-spacing: -1.5px;
    line-height: 1.25em;
}
.full-contacts__phones li:last-child {
    letter-spacing: 0;
}

.full-contacts__other {
    float: left;
    width: 55%;
    padding-left: 15px;
    text-align: center;
}
.contact-app {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.contact-app li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}
.contact-app li a {
    display: block;
}
.contact-app img {
    display: block;
}

.order-callback {
    display: inline-block;
    width: 285px;
    background: #fe4580;
    border-radius: 4px;
    color: #fff;
    font-family: 'Comfortaa-Regular';
    text-align: center;
    padding: 7px 10px;
}

.full-contacts__close {
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    padding: 2px 9px;
    font-size: 24px;
    color: #dfdfdf;
    cursor: pointer;
}



.search__form {
    position: relative;
    width: 100%;
}
.search__input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border: 1px solid #c2c2c2;
}
.search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    border-radius: 4px;
    background: #309080;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}




.basket-and-auth {
    float: right;
    min-width: 260px;
}

.basket-wrap {
    margin-bottom: 25px;
}
.get-discount {
    float: left;
    width: 180px;
    height: 67px;
    background-image: url(../images/bg-discount.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'PTSerif-Bold', sans-serif;
    text-align: center;
    color: #fff;
    padding: 0 15px;
    padding-top: 10px;
    font-size: 18px;
    transform: rotate(-3deg);
}

.basket {
    position: relative;
    float: right;
}
.basket__icon-placeholder {
    display: block;
    width: 50px;
    height: 60px;
    background-image: url(../images/icon-basket.png);
    background-repeat: no-repeat;
    background-position: center;
}
.basket__product-amount {
    display: inline-block;
    width: 30px;
    text-align: center;
    background: #fff;
    font-family: 'Comfortaa-Bold';
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
}


.user-auth {
    text-align: center;
}
.user-auth li {
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.user-auth li:not(:last-child) {
    margin-right: 10px;
}
.user-auth li:not(:last-child):after {
    content: '/';
    position: absolute;
    right: -9px;
}
.user-auth li:first-child:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 24px;
    background-image: url(../images/icon-user-auth.png);
    left: -30px;
    top: -3px;
}

.user-auth li:hover a {
    border-bottom: 1px solid #333;
}


.main-nav {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 13px 15px;
    border-top: 2px solid #309080;
    border-bottom: 2px solid #309080;
}

.main-nav li {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Comfortaa-Bold';
    text-transform: uppercase;
    margin: 0 43px;
}
.main-nav li > a {
    display: block;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.main-nav li:hover > a {
    color: #309080;
}

.main-nav__create-bouquet {
    position: absolute;
    top: -14px;
    right: 15px;
    display: block;
    margin: 0 !important;
}
.main-nav__create-bouquet a {
    padding: 25px 20px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #ff0051;
    color: #309080;
}
.main-nav__create-bouquet a:hover {
    color: #fe4580 !important;
}






/*********************************************************\

    4 - Sidebar Filter Styles

\*********************************************************/

.section-offers {
    position: relative;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #309080;
}

.sidebar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 305px;
    border-radius: 5px;
    padding: 15px;
    background: #f4f4f4;
}

.filter {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.filter__param {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
    text-align: left;
}

.param__heading {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    color: #309080;
}
.param__list {
    width: 100%;
    margin-bottom: 8px;
}
.param__item {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    margin-left: 5px;
}
.param__item-radio input[type="radio"] {
    display: none;
}
.param__item-radio span {
    position: relative;
    top: -1px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Comfortaa-Regular';
    background: #fff;
    border-radius: 3px;-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.param__item-radio span:hover {
    top: 0;
    box-shadow: none;
}

.param__item-radio .fa {
    display: none;
    cursor: pointer;
    margin-left: 2px;
}

.param__item-radio input[type="radio"]:checked + span {
    top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #309080;
    color: #fff;
}
.param__item-radio input[type="radio"]:checked + span .fa {
    display: inline-block;
    color: #fff;
}

.filter__button {
    display: inline-block;
    margin-top: 15px;
    width: 235px;
    height: 40px;
    font-size: 20px;
    font-family: 'Comfortaa-Regular';
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    color: #309080;
}


/*********************************************************\

    5 - Section offers Styles

\*********************************************************/
.offers-wrap {
    position: relative;
    margin-left: 320px;
    z-index: 50;
}
.offers {
    position: relative;
    text-align: justify;
}
.offers:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}
.offers__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    min-height: 350px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
}

.offers__image-placeholder {
    position: absolute;
    background-image: url(../images/img-offers-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
.offers__item:hover .offers__image-placeholder {
    transform: scale(1.1) rotate(-2deg);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.offers__title {
    background: #fff;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 20px 10px;
    font-family: 'Comfortaa-Bold';
    font-size: 30px;
    color: #309080;
}





/*********************************************************\

    6 - Popular produtcs Styles

\*********************************************************/
.popular {
    padding-top: 25px;
    padding-bottom: 45px;
}

.section-title {
    text-align: center;
    font-family: 'Comfortaa-Regular';
    font-size: 34px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.product__list {
    text-align: justify;
}
.product__list:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}

.product__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    margin-bottom: 15px;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product__item:hover {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
}

.product__link {
    display: block;
    width: 100%;
}
.product__image-placeholder {
    display: block;
    width: 100%;
    min-height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 10px;
}

.product__title {
    display: block;
    font-size: 20px;
    min-height: 55px;
    margin-bottom: 5px;
}

.product__price {
    display: block;
    margin-bottom: 10px;
    color: #309080;
}
.product__button-buy {
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #309080;
    color: #309080;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product__button-buy:hover {
    background: #309080;
    color: #fff;
}

.product__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 35px;
    display: block;
}
.product__label--action-1 {
    width: 90px;
    height: 58px;
    background-image: url(../images/img-product-label--action-1.png);
    background-repeat: no-repeat;
    top: -12px;
    left: -15px;
}
.product__label--action-1 {
    width: 90px;
    height: 58px;
    background-image: url(../images/img-product-label--action-1.png);
    background-repeat: no-repeat;
    top: -12px;
    left: -15px;
}
.product__label--action-2 {
    width: 83px;
    height: 42px;
    background-image: url(../images/img-product-label--action-2.png);
    background-repeat: no-repeat;
    top: -10px;
    left: 10px;
}
.product__label--action-3 {
    width: 78px;
    height: 79px;
    background-image: url(../images/img-product-label--action-3.png);
    background-repeat: no-repeat;
    top: -19px;
    left: -18px;
}

.product__label--new {
    width: 135px;
    height: 117px;
    background-image: url(../images/img-product-label--new.png);
    background-repeat: no-repeat;
    top: -28px;
    left: -30px;
}

.product__size-item {
    position: absolute;
    display: inline-block;
    width: 75px;
    text-align: center;
    font-size: 14px;
    font-family: 'Comfortaa-Regular';
    color: #309080;
}
.product__size-item--width {
    top: 15px;
    left: 50%;
    margin-left: -37.5px;
}

.product__size-item--height {
    top: 150px;
    right: -15px;
    transform: rotate(90deg)
}

.product__size-item:before,
.product__size-item:after {
    content: '';
    position: absolute;
    width: 47px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    background-image: url(../images/bg-product-size--width.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.product__size-item:before {
    left: -45px;
    background-position: 0px 0px;
}
.product__size-item:after {
    right: -45px;
    background-position: -54px 0px;
}






/*********************************************************\

    7 - Our Advantages Styles

\*********************************************************/

.our-advantages {
    margin-bottom: 50px;
}

.our-advantages__list {
   width: 100%; 
}
.our-advantages__item {
    float: left;
    width: 25%;
    min-height: 250px;
    padding: 0 10px;
    text-align: center;
}
.our-advantages__image-placeholder {
    display: block;
    margin-bottom: 10px;
    min-height: 130px;
}
.our-advantages__title {
    display: block;
    font-family: 'Comfortaa-Bold';
    font-size: 16px;
    text-transform: uppercase;
    color: #309080;
    margin-bottom: 10px;
}
.our-advantages__text {
    font-size: 14px;
    font-family: 'PTSerif-Italic';
    margin: 0;
}
.our-advantages__button {
    display: inline-block;
    background: #fe4580;
    font-size: 16px;
    color: #fff;
    width: 235px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid transparent;
    
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.our-advantages__button:hover {
    border-color: #fe4580;
    background: #fff;
    color: #fe4580;
}





/*********************************************************\

    8 - Main footer Styles

\*********************************************************/
.main-footer {
    width: 100%;
    background: #f4f4f4;
    padding: 25px 0 20px;
}

.footer-links {
    float: left;
    width: 25%;
    padding-left: 15px;
}

.footer-links__title {
    font-family: 'Comfortaa-Regular';
    font-size: 14px;
    color: #309080;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-links__list {
}
.footer-links__list li {
    font-size: 14px;
    margin: 5px 0;
}
.footer-links__list a {
    border-bottom: 1px solid transparent;
}
.footer-links__list a:hover {
    border-color: #3a3a3a;
}

.social-links {}
.social-links__item {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #309080;
    text-align: center;
    color: #309080;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.social-links__item a {
    display: block;
    width: 100%;
    height: 100%;
}
.social-links__item:not(:last-child) {
    margin-right: 10px;
}

.social-links__item:hover {
    background: #309080;
    color: #fff;
}






/*********************************************************\

    9 - Catalog Styles

\*********************************************************/
.content-wrap {
    position: relative;
    min-height: 750px;
    padding-bottom: 50px;
}

.breadcrumbs {
    margin-bottom: 15px;
}
.breadcrumbs ul {
    padding-left: 15px;
}
.breadcrumbs li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #309080;
}
.breadcrumbs li:not(:last-child) {
    color: #a8a8a8;
    padding-right: 10px;
}
.breadcrumbs li:not(:last-child):after {
    content: '>';
    position: relative;
    right: -6px;
}
.breadcrumbs .fa {
    margin-right: 7px;
    font-size: 18px;
}

.right-side {
    position: relative;
    margin-left: 320px;
    z-index: 50;
}

.page-title {
    font-family: 'Comfortaa-Bold';
    font-size: 34px;
    color: #309080;
    margin-bottom: 15px;
}
.page-title--center {
    text-align: center;
    margin-bottom: 20px;
}

.sort-panel {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #a8a8a8;
}
.sort-panel__heading {
    display: inline-block;
    color: #a8a8a8;
    margin-right: 10px;
}
.sort-panel__list {
    display: inline-block;
}
.sort-panel__list li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.sort-panel__list li:hover:after,
.sort-panel__list li.current:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #a8a8a8;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 30px;
    left: 50%;
    margin-left: -7px;
}

.catalog-products {
    padding-top: 30px;
}

.pagination-box {
    margin-bottom: 35px;
}
.pagination-box:after {
    content: '';
    display: table;
    clear: both;
}
.pagination {
    float: right;
}
.pagination li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.pagination li a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #a8a8a8;
    font-size: 14px;
    color: #a8a8a8;
}






/*********************************************************\

    10 - Card product Styles

\*********************************************************/

.card-product {
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    padding-bottom: 35px; /* temp */
    margin-bottom: 45px; /* temp */
}
.card-product:after {
    content: '';
    display: table;
    clear: both;
}

.card-product__images {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}
.card-product__main-image {
    position: relative;
    width: 100%;
    height: 515px;
    text-align: center;
    background: #fff;
    padding: 35px 90px 15px;
    margin-bottom: 20px;
}
.card-product__main-image a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card-product__size-item {
    position: absolute;
    display: inline-block;
    width: 75px;
    text-align: center;
    font-size: 14px;
    font-family: 'Comfortaa-Regular';
    color: #309080;
}
.card-product__size-item--width {
    top: 15px;
    left: 50%;
    margin-left: -35px;
}

.card-product__size-item--height {
    top: 50%;
    right: 40px;
    margin-top: -18.5px;
    transform: rotate(90deg)
}

.card-product__size-item:before,
.card-product__size-item:after {
    content: '';
    position: absolute;
    width: 47px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    background-image: url(../images/bg-product-size--width.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.card-product__size-item:before {
    left: -45px;
    background-position: 0px 0px;
}
.card-product__size-item:after {
    right: -45px;
    background-position: -54px 0px;
}


.card-product__image-list {
    width: 100%;
    text-align: left;
}
.card-product__image-list li {
    float: left;
    width: 25%;
    height: 135px;
    padding-right: 20px;
}
.card-product__image-list li a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
}


.card-product__details {
    float: left;
    width: 50%;
    padding: 15px 30px;
}

.card-product__title {
    font-size: 34px;
    font-family: 'Comfortaa-bold';
    color: #309080;
    margin-bottom: 20px;
}

.card-product__rating {
    display: inline-block;
    vertical-align: middle;
}

.card-product__currency {
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
}
.card-product__currency li {
    display: inline-block;
}
.card-product__currency li:not(:last-child) {
    margin-right: 26px;
}

.card-product__currency button {
    width: 42px;
    height: 25px;
    font-size: 14px;
    text-transform: uppercase;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    outline: none;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.card-product__currency button.active,
.card-product__currency button:hover {
    background: #309080;
    color: #fff;
    border-color: #309080;
}

.card-product__price-options {
    width: 440px;
    padding-top: 20px;
    text-align: right;
}

.card-product__options {
    width: 100%;
}
.card-product__option {
    font-family: 'Comfortaa-Regular';
    font-size: 24px;
}
.card-product__option:not(:last-child) {
    margin-bottom: 10px;
}
.card-product__option:after {
    content: '';
    display: table;
    clear: both;
}

.card-product__option-choice {
    float: left;
}
.card-product__option-choice input[type="radio"] {
    display: none;
}
.card-product__option-choice i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url(../images/icon-custom-radio-btn.png);
    background-repeat: no-repeat;
    background-position: 0px -30px;
}
.card-product__option-choice input[type="radio"]:checked + i {
    background-position: 0 0;
}

.card-product__price--discount {
    color: #fe4580;
}
.card-product__price--old-price {
    color: #a8a8a8;
    text-decoration: line-through
}


.card-product__delivery-hint {
    margin: 20px 0;
}
.card-product__delivery-hint span {
    display: block;
    width: 442px;
    height: 54px;
    line-height: 48px;
    padding-right: 30px;
    font-family: 'PTSerif-Italic';
    font-size: 20px;
    background-image: url(../images/bg__delivery-hint.png);
    background-repeat: no-repeat;
    
    text-align: center;
    color: #fff;
}

.card-product__tools {
    padding: 10px 0;
    border-bottom: 1px solid #a8a8a8;
}

.card-product__tool {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    font-family: 'Comfortaa-Regular';
    text-align: center;
    font-size: 18px;
    padding: 7px 0;
    background-repeat: no-repeat;
    background-position: 0 center;
}
.card-product__tool:hover {
    color: #309080;
}
.card-product__tool--favorites {
    background-image: url(../images/icon__favorites.png);
    border-right: 1px solid #a8a8a8;
    margin-right: 25px;
}
.card-product__tool--compare {
    background-image: url(../images/icon__compare.png);
    margin-right: 25px;
}

.card-product__buttons {
    padding: 15px 0;
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 20px;
}

.card-product__button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    border: 1px solid transparent;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    color: #fff;
    text-align: center;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.card-product__button--buy {
    width: 230px;
    margin-right: 25px;
    text-transform: uppercase;
    background: #309080;
}
.card-product__button--buy:hover {
    background: #fe4580;
}

.card-product__button--order {
    border-color: #309080;
    padding-left: 15px;
    padding-right: 15px;
    color: #309080;
}
.card-product__button--order:hover {
    background: #309080;
    color: #fff;
}


.card-product__composition h3 {
    font-family: 'Comfortaa-Bold';
    font-size: 20px;
    margin-bottom: 15px;
}

.card-product__composition-list {
    width: 100%;
}
.card-product__composition-list:after {
    content: '';
    display: table;
    clear: both;
}
.card-product__composition-item {
    position: relative;
    float: left;
    width: 240px;
    line-height: 1.4em;
}
.card-product__composition-item:nth-child(2n) {
    margin-left: 50px;
}
.card-product__composition-item:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    border-bottom: 2px dotted #3a3a3a;
    z-index: 4;
}

.card-product__composition-item span,
.card-product__composition-item mark {
    position: relative;
    display: inline-block;
    background: #fff;
    z-index: 5;
    padding-right: 2px;
}
.card-product__composition-item mark {
    position: relative;
    float: right;
    display: inline-block;
    padding-left: 2px;
    background: #fff;
}





/*********************************************************\

    11 - Product Description and Reviews Styles

\*********************************************************/
.product-info-holder {
    position: relative;
    width: 100%;
    min-height: 350px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 15px;
}


/*  Right sidebar "Additionally Info" on a product page  */
.additionally-info {
    position: absolute;
    width: 305px;
    top: 0;
    right: 0;
}
.additionally-item {
    background: #f4f4f4;
    padding: 7px 15px 15px;
    margin-bottom: 30px;
}
.additionally-item__heading {
    font-family: 'Comfortaa-Bold';
    font-size: 20px;
    margin-bottom: 10px;
    color: #309080;
}

.tags__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -1px;
    margin: 5px 0;
    margin-right: 10px;
    padding: 4px 7px;
    font-size: 16px;
    font-family: 'Comfortaa-Regular';
    background: #fff;
    border-radius: 4px;
    
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.tags__item:hover {
    top: 0;
    box-shadow: none;
}

.guarrantee:after {
    content: '';
    display: table;
    clear: both;
}
.guarrantee__image {
    float: left;
}
.guarrantee__text {
    float: right;
    width: 67%;
    font-size: 14px;
}
/*  end Right sidebar "Additionally Info" on a product page  */



.product-info {
    position: relative;
    margin-right: 335px;
}
.product-info__item:after {
    content: '';
    display: table;
    clear: both;
}

.product-info__item:not(:last-child) {
    margin-bottom: 35px;
}
.product-info__heading {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Comfortaa-Bold';
    font-size: 20px;
}

.product-desc__text p {
    line-height: 1.4;
    margin-bottom: 10px;
}


.review-rating {
    margin-bottom: 25px;
}
.review-rating__scale-tag {
    display: inline-block;
    vertical-align: middle;
}
.review-rating__scale {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

.write-review__form {
    width: 100%;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 30px;
}

.review-form {
    width: 70%;
}
.review-form:after {
    content: '';
    display: table;
    clear: both;
}

.review-form__textarea {
    display: block;
    width: 100%;
    height: 145px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 25px;
    resize: none;
    outline: none;
}

.review-form__input-wrap {
    float: left;
    width: 50%;
}
.review-form__input-wrap:nth-child(2n) {
    padding-right: 15px;
}
.review-form__input-wrap:nth-child(3n) {
    padding-left: 15px;
}


.review-form__input {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    outline: none;
}

.review-form__buttons {
    clear: both;
    padding-top: 40px;
    text-align: right;
}
.review-form__button-cancel {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Comfortaa-Regular';
    font-size: 18px;
    background: none;
    color: #a8a8a8;
    margin-right: 30px;
}
.review-form__button-cancel:hover {
    color: #309080;
}
.review-form__submit {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #309080;
    padding: 0 15px;
    font-family: 'Comfortaa-Regular';
    font-size: 18px;
    color: #309080;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.review-form__submit:hover {
    background: #309080;
    color: #fff;
}



.review-post {
    padding: 12px 0;
}
.review-post:not(:last-of-type) {
    border-bottom: 1px solid #a8a8a8;
}

.review-post__author {
    display: inline-block;
    font-family: 'Arian-Bold';
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
}
.review-post__date {
    display: inline-block;
    font-size: 14px;
    color: #a8a8a8;
}
.review-post__rating {
    margin: 5px 0;
}

.reviews__more {
    float: right;
    padding-top: 20px;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    color: #a8a8a8;
}
.reviews__more:hover {
    color: #309080;
}
.reviews__more .fa {
    margin-left: 5px;
}






/*********************************************************\

    12 - Related Offers Styles

\*********************************************************/
.related-offers {
    position: relative;
    margin-bottom: 35px;
}

.related-offers__nav {
    padding: 0 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #a8a8a8;
}
.related-offers__nav > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Comfortaa-Bold';
    font-size: 24px;
    text-transform: uppercase;
    color: #309080;
    line-height: 1;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.related-offers__nav > li:hover,
.related-offers__nav > li.related-offers__item--active {
    color: #a8a8a8;
}
.related-offers__nav > li:not(:last-child) {
    margin-right: 165px;
}
.related-offers__nav > li.related-offers__item--active:after,
.related-offers__nav > li:hover:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 14px solid #a8a8a8;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 49px;
    left: 50%;
    margin-left: -7px;
}

.related-offers__list {
    padding-top: 30px;
}
.related-offers__item {
    display: none;
}
.related-offers__item--active {
    display: block;
}





/*********************************************************\

    13 - Compare products Styles

\*********************************************************/
.compare-holder {
    position: relative;
}

.compare-panel {
    position: relative;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
}

.compare-panel__icon {
    display: block;
    width: 100%;
    position: absolute;
    height: 150px;
    top: 15px;
    background-image: url(../images/img-product-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .4;
}

.compare-panel__add-button {
    display: inline-block;
    width: 250px;
    height: 40px;
    border: 1px solid #309080;
    color: #309080;
    font-family: 'Comfortaa-Regular';
    font-size: 16px;
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 10px;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.compare-panel__add-button:hover {
    background: #309080;
    color: #fff;
}

.compare-params {
    padding-top: 40px;
    text-align: left;
    font-family: 'Comfortaa-Regular';
    
}
.compare-params__heading {
    font-size: 20px;
    color: #309080;
    margin-bottom: 10px;
}

.compare-params__list {
    width: 100%;
}
.compare-params__list li {
    font-size: 16px;
    padding: 12px 0;
}
.compare-params__list li:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}


.comparison {
    position: relative;
    margin-left: 320px;
    margin-bottom: 75px;
    z-index: 50;
}

.comparison__list {
    width: 100%;
    display: table;
}
.comparison__list:after {
    content: '';
    display: table;
    clear: both;
}
.comparison__item {
    position: relative;
    display: table-cell;
}

.product-comparison {
    position: relative;
    padding: 10px 35px 35px;
    background: #fff;
    text-align: center;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
}
.product-comparison__remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 13px;
    background-image: url(../images/icon__btn-close.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.product-comparison__link {
    display: block;
    width: 100%;
}
.product-comparison__image {
    display: block;
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 15px;
}
.product-comparison__title {
    display: block;
    font-size: 20px;
    min-height: 60px;
    margin-bottom: 20px;
}
.product-comparison__price {
    display: block;
    margin-bottom: 20px;
    color: #309080;
}
.product-comparison__rating {
    margin: 20px 0;
}
.product-comparison__sizes {
    font-family: 'Arian-Regular';
    font-size: 16px;
    margin: 25px 0;
}
.product-comparison__composition {
    margin-bottom: 25px;
    font-family: 'Arian-Regular';
    font-size: 16px;
    text-align: left;
}
.product-comparison__composition li {
    position: relative;
    line-height: 1.4;
}
.product-comparison__composition li:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    border-bottom: 2px dotted #3a3a3a;
    z-index: 4;
}

.product-comparison__composition li > span,
.product-comparison__composition li > mark {
    position: relative;
    display: inline-block;
    background: #fff;
    z-index: 5;
    padding-right: 2px;
}
.product-comparison__composition li > mark {
    position: relative;
    float: right;
    display: inline-block;
    padding-left: 2px;
    background: #fff;
}



.product-comparison__button-buy {
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #309080;
    color: #309080;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product-comparison__button-buy:hover {
    background: #309080;
    color: #fff;
}





/*********************************************************\

    14 - Registration Styles

\*********************************************************/
.sign-up {
    position: relative;
    width: 100%;
    text-align: center;
}

.sign-up h4 {
    margin: 25px 0;
}

.sign-up__social-buttons {
    
}

.sign-up__social {
    display: inline-block;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.sign-up__social > a {
    display: block;
    width: 235px;
    height: 50px;
    line-height: 50px;
}

.sign-up__social .fa {
    position: relative;
    top: 3px;
    font-size: 28px;
    margin-right: 10px;
}

.sign-up__social--vk {
    border-color: #6383a8;
    color: #6383a8;
}
.sign-up__social--vk:hover {
    background: #6383a8;
    color: #fff;
}

.sign-up__social--fb {
    border-color: #3a5795;
    color: #3a5795;
}
.sign-up__social--fb:hover {
    background: #3a5795;
    color: #fff;
}

.sign-up__social--ok {
    border-color: #ee9651;
    color: #ee9651;
}
.sign-up__social--ok .fa {
    display: inline-block;
    width: 13px;
    height: 22px;
    background-image: url(../images/icon__soc-ok.png);
}
.sign-up__social--ok:hover {
    background: #ee9651;
    color: #fff;
}
.sign-up__social--ok:hover .fa {
    background-position: -17px 0px;
}


.sign-up__form {
}

.form-register__item {
    padding-right: 200px;
    margin-bottom: 30px;
}
.form-register__label {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    margin-right: 20px;
    text-align: right;
}
.form-register__input {
    width: 435px;
    height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 15px;
}

.form-register__checkbox {
    display: inline-block;
    width: 435px;
    text-align: left;
    margin-right: 0;
    font-size: 18px;
}

.form-register__submit {
    width: 315px;
    height: 50px;
    border-radius: 4px;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    border: 1px solid transparent;
    background: #fe4580;
    color: #fff;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.form-register__submit:hover {
    background: rgba(255, 255, 255, 0.75);
    color: #fe4580;
    border-color: #fe4580;
}






/*********************************************************\

    15 - Discounts Styles

\*********************************************************/
.discounts {
    margin-bottom: 25px;
}

.discounts__heading {
    font-family: 'Comfortaa-Bold';
    font-size: 30px;
    text-align: center;
    color: #fe4580;
    margin-bottom: 20px;
}

.discounts__list {
    width: 100%;
    text-align: center;
}
.discounts__item {
    display: inline-block;
    vertical-align: top;
    width: 275px;
    margin: 0 15px;
    padding: 0 10px;
}

.discounts__image-placeholder {
    display: block;
    min-height: 90px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
}
.discounts__text {
    display: block;
    padding: 0 10px;
    font-family: 'PTSerif-Italic';
    font-size: 18px;
    color: #000;
}






/*********************************************************\

    16 - Gratitude Styles

\*********************************************************/
.gratitude {
    text-align: center;
    padding-bottom: 50px;
}

.gratitude__text {
    font-size: 18px;
    color: #309080;
    line-height: 1.6;
    margin-bottom: 25px;
}

.order-info {
    width: 635px;
    margin: 0 auto;
    background: #fff;
    text-align: left;
    border-radius: 4px;
    font-family: 'Comfortaa-Bold';
    font-size: 16px;
    padding: 0 15px;
}

.order-info__item {
    padding: 15px 0;
}
.order-info__item:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

.order-info__left-side {
    float: left;
    width: 50%;
    text-align: left;
}
.order-info__right-side {
    float: right;
    width: 50%;
    text-align: right;
}

.order-info__data-list li {
    line-height: 1.7;
}
.order-info__data-list li > span {
    color: #a8a8a8;
}
.order-info__data-list strong {
    text-shadow: 1px 0 0 #000;
    letter-spacing: 0.5px;
}






/*********************************************************\

    17 - Posts Styles

\*********************************************************/
.posts {
    width: 100%;
    padding-bottom: 50px;
}
.posts:after {
    content: '';
    display: table;
    clear: both;
}

.post {
    float: left;
    width: 50%;
    padding: 10px;
}
.post a {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.post__inner {
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.post__inner:after {
    content: '';
    display: table;
    clear: both;
}

.post__image {
    float: left;
    margin-right: 15px;
    max-width: 250px;
}

.post__title {
    font-family: 'Comfortaa-Bold';
    font-size: 25px;
    color: #309080;
    line-height: 1.2;
    margin-bottom: 10px;
}
.post__title:hover {
    color: #fe4580;
}
.post__title a {
    display: inline;
}

.post__text {
    font-size: 16px;
    line-height: 1.4;
}

.post__read-more {
    font-family: 'Comfortaa-Regular';
    color: #309080;
}
.post__read-more:hover {
    color: #fe4580;
}





/*********************************************************\

    18 - Contacts Page Styles

\*********************************************************/
.contacts-page {
    position: relative;
    font-family: 'Comfortaa-Regular';
    font-size: 24px;
    text-align: center;
    padding-bottom: 50px;
}

.contacts-page__left-side {
    float: left;
    width: 50%;
}
.contacts-page__right-side {
    float: right;
    width: 50%;
}


.main-phones {
    position: relative;
    z-index: 10;
    margin-bottom: 60px;
}
.main-phones__bg {
    position: absolute;
    top: 0;
    left: 112px;
    width: 395px;
    height: 351px;
    background-image: url(../images/bg_main-phones.png);
    z-index: -10;
}

.main-phones__box {
    margin: 15px 0;
    display: inline-block;
}

.main-phones__list {
    margin-bottom: 10px;
}
.main-phones__list li {
    text-align: center;
    font-family: 'Comfortaa-Bold';
    font-size: 30px;
    line-height: 1.25;
}
.main-phones__list li:nth-child(1),
.main-phones__list li:nth-child(2) {
    letter-spacing: -1.8px
}

.main-phones__apps li {
    display: inline-block;
    margin: 0 15px;
}

.main-phones__button {
    display: inline-block;
    margin-top: 20px;
    background: #fe4580;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.main-phones__button:hover {
    background: rgba(255, 255, 255, 0.75);
    color: #fe4580;
    border-color: #fe4580;
}


.main-contact-email {
    margin-bottom: 75px;
    position: relative;
    z-index: 10;;
}
.main-contact-email__bg {
    position: absolute;
    top: -18px;
    left: 150px;
    width: 179px;
    height: 125px;
    background-image: url(../images/bg_main-email.png);
    z-index: -10;
}

.main-contact-email a {
    font-family: 'Arian-Bold';
    color: #309080;
    padding-top: 5px;
    font-size: 24px;
}


.main-contact-address {
    position: relative;
    display: inline-block;
    z-index: 20;
}
.main-contact-address__bg {
     position: absolute;
    top: -10px;
    left: 115px;
    width: 156px;
    height: 152px;
    background-image: url(../images/bg_main-address.png);
    z-index: -10;
}
.main-contact-address span {
    display: block;
    text-align: left;
    padding-top: 15px;
    font-family: 'Arian-Bold';
    line-height: 1.2;
}


.feedback-form-holder {
    width: 435px;
    margin: 0 auto 50px;
    position: relative;
    z-index: 20;
}

.feedback-form-holder__bg {
    position: absolute;
    top: 20px;
    left: -86px;
    width: 526px;
    height: 417px;
    background-image: url(../images/bg_contact-form.png);
    background-repeat: no-repeat;
    z-index: -10;
}

.feedback-form {
    width: 100%;
    padding-top: 15px;
}

.feedback-form__input {
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-family: 'Arian-Regular';
    font-size: 16px;
    outline: none;
}

.feedback-form__textarea {
    display: block;
    width: 100%;
    height: 145px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Arian-Regular';
    font-size: 16px;
    outline: none;
    resize: none;
    margin-bottom: 25px;
}

.feedback-form__submit {
    width: 235px;
    height: 50px;
    color: #fff;
    background: #fe4580;
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: 5px;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.feedback-form__submit:hover {
    color: #fe4580;
    border-color: #fe4580;
    background-color: rgba(255, 255, 255, 0.75);
}


.follow-social {
    position: relative;
    z-index: 20;
}

.follow-social__bg {
    position: absolute;
    top: -38px;
    left: 21px;
    width: 588px;
    height: 127px;
    background-image: url(../images/bg_vk.png);
    background-repeat: no-repeat;
    z-index: -10;
}

.follow-social__button {
    display: inline-block;
    width: 235px;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    background: #6383a8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: 'Arian-Regular';
    font-size: 16px;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.follow-social__button:hover {
    border-color: #6383a8;
    background: rgba(255, 255, 255, 0.75);
    color: #6383a8;
}

.follow-social__button .fa {
    position: relative;
    top: 3px;
    font-size: 28px;
    margin-right: 10px;
}


.thanks {
    clear: both;
    position: relative;
    width: 450px;
    margin: 0 auto;
    z-index: 20;
}
.thanks__bg {
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -64px;
    width: 128px;
    height: 142px;
    background-image: url(../images/bg_happiness.png);
    background-repeat: no-repeat;
    z-index: -10;
}

.thanks h3 {
    font-size: 35px;
    color: #fe4580;
}














