@font-face {
	font-family: 'Arian-Regular';
	src:url('../fonts/Arian/ArianAMURegular/ArianAMURegular.eot?') format('eot'),
        url('../fonts/Arian/ArianAMURegular/ArianAMURegular.woff') format('woff'),
        url('../fonts/Arian/ArianAMURegular/ArianAMURegular.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Arian-Bold';
	src:url('../fonts/Arian/ArianAMURegular/ArianAMUBold.eot?') format('eot'),
        url('../fonts/Arian/ArianAMURegular/ArianAMUBold.woff') format('woff'),
        url('../fonts/Arian/ArianAMURegular/ArianAMUBold.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'PTSerif-Italic';
	src:url('../fonts/PTSerif-Italic/PTSerif-Italic.eot?') format('eot'),
        url('../fonts/PTSerif-Italic/PTSerif-Italic.woff') format('woff'),
        url('../fonts/PTSerif-Italic/PTSerif-Italic.ttf')  format('truetype'),
        url('../fonts/PTSerif-Italic/PTSerif-Italic.svg')  format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'PTSerif-Bold';
	src:url('../fonts/PTSerif-Bold/PTSerif-Bold.eot?') format('eot'),
        url('../fonts/PTSerif-Bold/PTSerif-Bold.woff') format('woff'),
        url('../fonts/PTSerif-Bold/PTSerif-Bold.ttf')  format('truetype'),
        url('../fonts/PTSerif-Bold/PTSerif-Bold.svg')  format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'Comfortaa-Light';
	src:url('../fonts/Comfortaa/Comfortaa-Light.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src:url('../fonts/Comfortaa/Comfortaa-Regular.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Comfortaa-Bold';
	src:url('../fonts/Comfortaa/Comfortaa-Bold.ttf')  format('truetype');
	font-weight:normal;
	font-style:normal;
}


/*---------------------------------
Table of content
1 - CSS Reset
2 - Global Styles
3 - Header Styles
4 - Sidebar Filter Styles
5 - Section offers Styles
6 - Popular produtcs Styles
7 - Our Advantages Styles
8 - Main footer Styles
9 - Catalog Styles




/********************************************************

    1 - CSS RESET (Eric Meyer's)

**********************************************************/
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}

ol, ul{
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

/*********************************************************\

    2 - GLOBAL STYLES

\*********************************************************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after,
.row:after {
    clear: both;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.image-cover {
    display: block;
    width: 100%;
    height: auto;
}

html{
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
	display: block;
}

html,
body{
	width: 100%;
	height: 100%;
}

body {
    font-family: 'Arian-Regular', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #3a3a3a;
    background: #fff;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
a:hover,
a:active,
a:visited,
a:focus {
    outline: none;
}

a, img, input, textarea, select, button {
    border: none;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    margin-bottom: 5px;
}


::-webkit-input-placeholder {font-family: inherit; color: inherit; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}
::-moz-placeholder          {font-family: inherit; color: inherit; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}/* Firefox 19+ */
:-moz-placeholder           {font-family: inherit; color: inherit; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}/* Firefox 18- */
:-ms-input-placeholder      {font-family: inherit; color: inherit; text-overflow: ellipsis; opacity: 1; transition: 0.2s ease;}

:focus::-webkit-input-placeholder {opacity: 0; color: transparent}
:focus::-moz-placeholder          {opacity: 0; color: transparent}
:focus:-moz-placeholder           {opacity: 0; color: transparent}
:focus:-ms-input-placeholder      {opacity: 0; color: transparent}


.va-container {
    display: table;
    position: relative;
}
.va-top,
.va-middle,
.va-bottom {
    display: table-cell;
}
.va-top {
    vertical-align: top;
}
.va-middle {
    vertical-align: middle;
}
.va-bottom {
    vertical-align: bottom;
}



.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    
    min-width: 1280px;
}

.center-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-container {
    padding-top: 50px;
    padding-bottom: 50px;
}


.main-content {
    position: relative;
    min-height: 450px;
    padding-top: 30px;
}


/*********************************************************\

    3 - Header Styles

\*********************************************************/
.wrapper {
    background: #fff;
    background-image: url(../images/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    min-height: 150vh; /* 100% viewport height */
}

.main-header {
    
}

.top-panel {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.second-nav {
    float: left;
    padding-top: 5px;
    line-height: 1em;
}
.second-nav ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-size: 14px;
}
.second-nav a {
    display: block;
}
.second-nav li:hover a {
    border-bottom: 1px solid #333;
}

.views-param {
    float: right;
}
.views-param__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.views-param__item select {
    height: 20px;
    padding-left: 3px;
    font-size: 11px;
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    outline: none;
}

.header-content {
    padding: 20px 0 30px;
    padding-right: 15px;
}

.logo-and-location {
    float: left;
    margin-right: 20px;
}

.logo {
    display: block;
    width: 316px;
    margin-bottom: 15px;
}
.logo a {
    display: block;
}
.logo img {
    display: block;
    width: 100%;
}

.location {
    text-align: center;
}
.location__icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 24px;
    margin-right: 7px;
    background-image: url(../images/icon-location.png);
}
.location__choice {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
}

.contacts-and-search {
    float: left;
    padding-top: 15px;
}
.contacts {
    position: relative;
    margin-bottom: 15px;
}
.contacts__phone-inline {
    font-size: 30px;
    font-family: 'Comfortaa-Bold';
    color: #309080;
}
.contacts__phone-inline span {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: -1.9px
}

.contacts__more {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-family: 'Arian-Regular';
    font-size: 24px;
    padding: 8px 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}
.contacts__more .fa {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 28px;
}

.full-contacts {
    opacity: 0;
    position: absolute;
    top: -10px;
    right: 0;
    width: 620px;
    height: 135px;
    width: 0;
    height: 0;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    z-index: 20;
}
.full-contacts__inner {
    display: none;
    padding: 10px 15px;
}
.full-contacts__phones {
    float: left;
    width: 45%;
    border-right: 1px solid #c2c2c2;
}
.full-contacts__phones li {
    font-size: 30px;
    font-family: 'Comfortaa-Bold';
    color: #309080;
    letter-spacing: -1.5px;
    line-height: 1.25em;
}
.full-contacts__phones li:last-child {
    letter-spacing: 0;
}

.full-contacts__other {
    float: left;
    width: 55%;
    padding-left: 15px;
    text-align: center;
}
.contact-app {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.contact-app li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}
.contact-app li a {
    display: block;
}
.contact-app img {
    display: block;
}

.order-callback {
    display: inline-block;
    width: 285px;
    background: #fe4580;
    border-radius: 4px;
    color: #fff;
    font-family: 'Comfortaa-Regular';
    text-align: center;
    padding: 7px 10px;
}

.full-contacts__close {
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    padding: 2px 9px;
    font-size: 24px;
    color: #dfdfdf;
    cursor: pointer;
}



.search__form {
    position: relative;
    width: 100%;
}
.search__input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border: 1px solid #c2c2c2;
}
.search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    border-radius: 4px;
    background: #309080;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}




.basket-and-auth {
    float: right;
    min-width: 260px;
}

.basket-wrap {
    margin-bottom: 25px;
}
.get-discount {
    float: left;
    width: 180px;
    height: 67px;
    background-image: url(../images/bg-discount.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'PTSerif-Bold', sans-serif;
    text-align: center;
    color: #fff;
    padding: 0 15px;
    padding-top: 10px;
    font-size: 18px;
    transform: rotate(-3deg);
}

.basket {
    position: relative;
    float: right;
}
.basket__icon-placeholder {
    display: block;
    width: 50px;
    height: 60px;
    background-image: url(../images/icon-basket.png);
    background-repeat: no-repeat;
    background-position: center;
}
.basket__product-amount {
    display: inline-block;
    width: 30px;
    text-align: center;
    background: #fff;
    font-family: 'Comfortaa-Bold';
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
}


.user-auth {
    text-align: center;
}
.user-auth li {
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.user-auth li:not(:last-child) {
    margin-right: 10px;
}
.user-auth li:not(:last-child):after {
    content: '/';
    position: absolute;
    right: -9px;
}
.user-auth li:first-child:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 24px;
    background-image: url(../images/icon-user-auth.png);
    left: -30px;
    top: -3px;
}

.user-auth li:hover a {
    border-bottom: 1px solid #333;
}


.main-nav {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 13px 15px;
    border-top: 2px solid #309080;
    border-bottom: 2px solid #309080;
}

.main-nav li {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Comfortaa-Bold';
    text-transform: uppercase;
    margin: 0 43px;
}
.main-nav li > a {
    display: block;
}

.main-nav__create-bouquet {
    position: absolute;
    top: -14px;
    right: 15px;
    display: block;
    margin: 0 !important;
}
.main-nav__create-bouquet a {
    padding: 25px 20px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #ff0051;
    color: #309080;
}






/*********************************************************\

    4 - Sidebar Filter Styles

\*********************************************************/

.section-offers {
    padding-bottom: 20px;
    border-bottom: 1px solid #309080;
}

.sidebar {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 305px;
    border-radius: 5px;
    padding: 15px;
    background: #f4f4f4;
}

.filter {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.filter__param {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
    text-align: left;
}

.param__heading {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    color: #309080;
}
.param__list {
    width: 100%;
    margin-bottom: 8px;
}
.param__item {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Comfortaa-Regular';
    background: #fff;
    border-radius: 3px;
    margin: 5px 0;
    margin-left: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.param__item:hover {
    top: 0;
    box-shadow: none;
}

.param__item a {
    padding: 5px 10px;
}

.param__item--active {
    top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #309080;
    color: #fff;
}

.filter__button {
    display: inline-block;
    margin-top: 15px;
    width: 235px;
    height: 40px;
    font-size: 20px;
    font-family: 'Comfortaa-Regular';
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    color: #309080;
}


/*********************************************************\

    5 - Section offers Styles

\*********************************************************/
.offers-wrap {
    position: relative;
    margin-left: 320px;
    z-index: 50;
}
.offers {
    position: relative;
    text-align: justify;
}
.offers:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}
.offers__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    min-height: 350px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
}

.offers__image-placeholder {
    position: absolute;
    background-image: url(../images/img-offers-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
.offers__item:hover .offers__image-placeholder {
    transform: scale(1.1) rotate(-2deg);
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.offers__title {
    background: #fff;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 20px 10px;
    font-family: 'Comfortaa-Bold';
    font-size: 30px;
    color: #309080;
}





/*********************************************************\

    6 - Popular produtcs Styles

\*********************************************************/
.popular {
    padding-top: 25px;
    padding-bottom: 45px;
}

.section-title {
    text-align: center;
    font-family: 'Comfortaa-Regular';
    font-size: 34px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.product__list {
    text-align: justify;
}
.product__list:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
}

.product__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    margin-bottom: 15px;
}

.product__link {
    display: block;
    width: 100%;
}
.product__image-placeholder {
    display: block;
    width: 100%;
    min-height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 10px;
}

.product__title {
    display: block;
    font-size: 20px;
    min-height: 55px;
    margin-bottom: 5px;
}

.product__price {
    display: block;
    margin-bottom: 10px;
    color: #309080;
}
.product__button-buy {
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #309080;
    color: #309080;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product__button-buy:hover {
    background: #309080;
    color: #fff;
}

.product__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 35px;
    display: block;
}
.product__label--action-1 {
    width: 90px;
    height: 58px;
    background-image: url(../images/img-product-label--action-1.png);
    background-repeat: no-repeat;
    top: -12px;
    left: -15px;
}
.product__label--action-1 {
    width: 90px;
    height: 58px;
    background-image: url(../images/img-product-label--action-1.png);
    background-repeat: no-repeat;
    top: -12px;
    left: -15px;
}
.product__label--action-2 {
    width: 83px;
    height: 42px;
    background-image: url(../images/img-product-label--action-2.png);
    background-repeat: no-repeat;
    top: -10px;
    left: 10px;
}
.product__label--action-3 {
    width: 78px;
    height: 79px;
    background-image: url(../images/img-product-label--action-3.png);
    background-repeat: no-repeat;
    top: -19px;
    left: -18px;
}

.product__label--new {
    width: 135px;
    height: 117px;
    background-image: url(../images/img-product-label--new.png);
    background-repeat: no-repeat;
    top: -28px;
    left: -30px;
}




/*********************************************************\

    7 - Our Advantages Styles

\*********************************************************/

.our-advantages {
    margin-bottom: 50px;
}

.our-advantages__list {
   width: 100%; 
}
.our-advantages__item {
    float: left;
    width: 25%;
    min-height: 250px;
    padding: 0 10px;
    text-align: center;
}
.our-advantages__image-placeholder {
    display: block;
    margin-bottom: 10px;
    min-height: 130px;
}
.our-advantages__title {
    display: block;
    font-family: 'Comfortaa-Bold';
    font-size: 16px;
    text-transform: uppercase;
    color: #309080;
    margin-bottom: 10px;
}
.our-advantages__text {
    font-size: 14px;
    font-family: 'PTSerif-Italic';
    margin: 0;
}
.our-advantages__button {
    display: inline-block;
    background: #fe4580;
    font-size: 16px;
    color: #fff;
    width: 235px;
    height: 40px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid transparent;
    
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.our-advantages__button:hover {
    border-color: #fe4580;
    background: #fff;
    color: #fe4580;
}





/*********************************************************\

    8 - Main footer Styles

\*********************************************************/
.main-footer {
    width: 100%;
    background: #f4f4f4;
    padding: 25px 0 20px;
}

.footer-links {
    float: left;
    width: 25%;
    padding-left: 15px;
}

.footer-links__title {
    font-family: 'Comfortaa-Regular';
    font-size: 14px;
    color: #309080;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-links__list {
}
.footer-links__list li {
    font-size: 14px;
    margin: 5px 0;
}
.footer-links__list a {
    border-bottom: 1px solid transparent;
}
.footer-links__list a:hover {
    border-color: #3a3a3a;
}

.social-links {}
.social-links__item {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #309080;
    text-align: center;
    color: #309080;
    
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.social-links__item a {
    display: block;
    width: 100%;
    height: 100%;
}
.social-links__item:not(:last-child) {
    margin-right: 10px;
}

.social-links__item:hover {
    background: #309080;
    color: #fff;
}






/*********************************************************\

    9 - Catalog Styles

\*********************************************************/
.content-wrap {
    position: relative;
    min-height: 750px;
}

.breadcrumbs {
    margin-bottom: 30px;
}
.breadcrumbs ul {
    padding-left: 15px;
}
.breadcrumbs li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #309080;
}
.breadcrumbs li:not(:last-child) {
    color: #a8a8a8;
    padding-right: 10px;
}
.breadcrumbs li:not(:last-child):after {
    content: '>';
    position: relative;
    right: -6px;
}

.right-side {
    position: relative;
    margin-left: 320px;
    z-index: 50;
}

.page-title {
    font-family: 'Comfortaa-Bold';
    font-size: 34px;
    color: #309080;
    margin-bottom: 15px;
}

.sort-panel {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #a8a8a8;
}
.sort-panel__heading {
    display: inline-block;
    color: #a8a8a8;
    margin-right: 10px;
}
.sort-panel__list {
    display: inline-block;
}
.sort-panel__list li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.sort-panel__list li:hover:after,
.sort-panel__list li.current:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #a8a8a8;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 30px;
    left: 50%;
    margin-left: -7px;
}

.catalog-products {
    padding-top: 30px;
}

.pagination-box {
    margin-bottom: 30px;
}
.pagination-box:after {
    content: '';
    display: table;
    clear: both;
}
.pagination {
    float: right;
}
.pagination li {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #a8a8a8;
    font-size: 14px;
    color: #a8a8a8;
    margin: 0 5px;
}


























